h1{
    text-align: center;
    padding: 3%;
    background-color: darkolivegreen;
    color: white;
}

.TaskInputContainer {
    text-align: center;
}

.clearbutton{
    text-align: center;
}

h2 {
    
}

